@font-face {
    font-family: 'AA Stetica';
    src: url('AA Stetica Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'AA Stetica', sans-serif;
    background-color: #F1E5E8;
    color: #322728;
}

.container-grid {
    display: grid;
    grid-template-rows: auto 1fr auto;   
}

header {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
}

.logo {
    font-size: 28px;
    font-weight: 500;
}

.logo a {
    text-decoration: none;
    color:#322728;
}

.logo a:hover {
    color:#BC4852;
}

.nav {
    display: flex;
    gap: 28px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.nav a {
    font-size: 18px;
    font-weight: 400;
    color: #322728;
    text-decoration: none;
}

.nav a:hover {
    color: #BC4852;
}

.circle {
    width: 45px;
    height: 45px;
    border: 1px solid #322728;
    border-radius: 50%;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.circle:hover {
    border: 1px solid #BC4852;
    color: #BC4852;
}

.icon-cart {
    width: 18px;
    height: 18px;
    display: block;
}

.button {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #322728;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #322728;
    text-decoration: none;

}

.button:hover{
    color: #BC4852;
    border: 1px solid #BC4852;
}



.events-formats {
    margin-top: 110px;
}

.events-grid {
    width: 1360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.formats-title{
    font-size: 40px;
    font-weight: 500;
    color: #322728;
    margin: 0;
}

.formats-text {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 400;
    color: #322728;
    margin-bottom: 0;
}


.events-cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.card1 {
    grid-column: 1 / 8;
    height: 530px;;
}

.card2 {
    grid-column: 8 / 13;
    height: 426px;
}

.card3 {
    grid-column: 1 / 8;
    height: 481px;
}

.card4 {
    grid-column: 8 / 13;
    height: 585px;
    margin-top: -104px;
}

.card5 {
    grid-column: 1 / 6;
    height: 400px;
}

.card6 {
    grid-column: 6 / 13;
    height: 400px;
}

.event-card {
    background: #F2D7D5;
    color: #BC4852;
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card1 img { 
    height:313px; 
}

.card2 img { 
    height:209px;
}

.card3 img { 
    height:264px;
}

.card4 img { 
    height:368px;
}

.card5 img { 
    height:183px;
}

.card6 img { 
    height:183px;
 }

.card-content{
    padding-left:30px;
}

.card-content h2 {
    font-size: 48px;
    font-weight: 500;
    margin: 16px 0 3px 0;
}

.card-content p {
    font-size: 24px;
    margin: 0 0 24px 0;
}

.card-content .calc-btn{
    width: 404px;
    height: 56px;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #BC4852;
    color: #F1E5E8;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.card-content .calc-btn:hover {
    background: transparent;
    color: #BC4852;
    border: 1px solid #BC4852;
}

.card-content .calc-btn:active {
    background: #F1E5E8;
    color: #322728;
    border: 1px solid #322728;
}

.footer {
    max-width: 1360px;
    width: 100%;
    min-height: 330px;
    height: 100%;
    background: #322728;
    margin: 110px auto 0 auto;
}

.footer-container {
    padding-top: 65px;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    gap: 111px;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    color: #F1E5E8;
}

.footer-logo {
    font-size: 40px;
    font-weight: 700;
    margin-top: -9px;
}

.footer-subtitle {
    font-size: 17px;
    margin-top: -3px;
    font-weight: 300;
}

.footer-socials {
    display: flex;
    gap: 27px;
    margin-top: 44px;
}

.social-icon {
    height: 40px;
    fill: #F1E5E8;
    cursor: pointer;
}

.social-icon:hover {
    color: #BC4852;
}

.footer-copy {
    font-size: 17px;
    margin-top: 48px;
    font-weight: 300;
}

.footer-title {
    font-size: 18px;
    font-weight: 500;
}

.footer-text {
    font-size: 18px;
    margin-top: 24px;
    font-weight: 300;
}

.footer-text.small-gap {
    margin-top: 8px;
}

.footer-text.email {
    margin-top: 16px;
}

.footer-menu {
    font-size: 18px;
    font-weight: 500;
}

.last-column a {
    text-decoration: none;
    color:#F1E5E8;
}

.last-column a:hover {
    color: #BC4852;
}

.footer-menu div {
    margin-bottom: 16px;
}

.footer-service {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 300;
}

.footer-service:hover {
    color: #BC4852;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 39, 40, 0.6);
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}

.success-popup {
    width: 670px;
    height: 219px;

    background-color: #F1E5E8;
    padding: 70px 58px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 80px;
    line-height: 40px;
    height: 40px;    
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #322728;
    cursor: pointer;
    transform: rotate(45deg); 
    transition: color 0.3s ease;
}

.close-popup:hover {
    color: #BC4852;
}

.success-popup h2 {
    color: #322728;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.success-popup p {
    color: #322728;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 1.2;
}


.popup {
    width: 652px;
    height: 585px;
    background: #F1E5E8;
    position: relative;
    padding: 48px 36px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    align-self: flex-start;
}

.popup-close {
    position: absolute;
    top: 48px;
    right: 27px;
    font-size: 80px;
    line-height: 40px;
    height: 40px;    
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #322728;
    cursor: pointer;
    transform: rotate(45deg); 
    transition: color 0.3s ease;
}

.popup-close:hover {
    color: #BC4852;
}

.popup-form {
    width: 580px;
    height: 294px;

    border: 1px solid #322728;
    margin-top: 40px;

    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-size: 32px;
    font-weight: 500;
}

.form-field input {
    margin-top: 20px;
    font-size: 32px;
    border: none;
    outline: none;
    background: transparent;
    color: #322728;
}

.form-field input::placeholder {
    color: rgba(50, 39, 40, 0.5);
}

.line {
    height: 2px;
    width: 520px;
    background: #322728;
    margin-top: 3px;
}

.form-field + .form-field {
    margin-top: 30px;
}

.popup-button {
    width: 580px;
    height: 73px;
    margin-top: 40px;
    background-color: #BC4852;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'AA Stetica', sans-serif;

    color: #F1E5E8;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.popup-button:hover {
    background-color: transparent;
    color: #BC4852;
    border-color: #BC4852;
}

.popup-button:active {
    background-color: #F1E5E8;
    color: #322728;
    border-color: #322728;
}